---
import PokemonCard from "../components/PokemonCard.astro";
import PokemonStats from "../components/PokemonStats.astro";
import VeryCoolFooter from "../components/StaticFooter.astro";
//Server defer sagt aus, das wenn man es nicht hat man auf alles wartet also auf alle responses
//Und wenn es da ist wird es ausgegeben wenn es zur verfügung steht und man wartet nicht auf alles
//Wenn nur eins es hat dann wird auch nur das eine ausgegebn wenn es da ist
---

<h1>Mehrere Insel-Komponenten in Astro</h1>

<PokemonCard pokemonName="charizard" server:defer>
  <!-- nehmt das server:defer gerne weg und schaut was passiert -->
  <div slot="fallback">Laedt Pokemon</div>
</PokemonCard>

<PokemonStats pokemonName="charizard" server:defer>
  <div slot="fallback">Laedt Stats</div>
</PokemonStats>

<VeryCoolFooter></VeryCoolFooter>

<style scoped></style>
