---
import DisplayName from "../components/InterestingStuff/DisplayName.astro";
const fontSize = "2rem";
---

<DisplayName firstName="Julian" surName="Porath">
  <h4>Ich werde als drittes angezeigt</h4>
  <h4 slot="firstSlot">Ich werde als erstes angezeigt</h4>
  <h4 slot="firstSlot">Ich werde als zweites angezeigt</h4>
  <!--It will be displayed first because the slot is before the other slot ;)-->
</DisplayName>

<style scoped define:vars={{ fontSize }}>
  h4 {
    font-size: var(--fontSize);
  }
</style>
