---
const response = await fetch("https://pokeapi.co/api/v2/pokemon/charizard");
const jsonResonse = await response.json();

await new Promise((resolve) => setTimeout(resolve, 2000));
//Its here because it shows that we can load from a server. Else it would be to fast.
//If you want you can increase or decrease the timeout :)
---

<div>
  <h1>{jsonResonse.name}</h1>
  <!--Here is an example of not correct Accessibility, because the alt tag is missing. You will see this inside the browser. fix it if you want :) -->
  <img src={jsonResonse.sprites.front_default} />
</div>
