---
interface Props {
    firstName: string;
    surName: string;
}
const {firstName = "default", surName = "default"} = Astro.props;
let counter = 0;

const animalsArray = ["Dog", "Cat", "Bear", "Bird"];
---

<h2>Name: {firstName}, Surname: {surName}</h2>
<slot name="firstSlot"/>
<!-- Alle Elemente mit dem Slot-Namen firstSlot werden hier angezeigt -->
<slot/>
<!-- Alle Elemente innerhalb der Komponente werden hier angezeigt -->

{animalsArray.map((value: any) =>
<pre>{value}</pre>)}

<button id="increaseCounter">Klick mich</button>
<p id="counterDisplay">{counter}</p>

<script>
    let counter = document.getElementById("counterDisplay");
    let counterValue = parseInt(counter!!.innerHTML) + 1;
    const button = document.getElementById("increaseCounter");
    button!!.addEventListener("click", () => {
        counter!!.innerHTML = String(counterValue++);
    });
</script>
